
<%= render "layouts/flash" %>

<h3><%= link_to '作品新規登録' , new_artwork_path , class:"fas fa-pen" %></h3><br>

<!-- 検索フォーム -->
<%= search_form_for @search do |f| %>
  <%= f.search_field :title_or_artist_name_cont , :placeholder => "作品名orアーティスト名" ,class:"form-control-search" %>
  <%= f.submit %>
<% end %>


 <div class="container-fluid" style="padding-bottom: 100px;">
 	<div class="row">
	 	<div class="artwork-contents"  style="padding-top: 20px ">
	 		<h2 class="artwork-title"><i class="fas fa-paint-brush">作品一覧</i></h2>
	 		    <div class="artwork-content">
					<% @artworks.each do |artwork| %>
						<figure class="box" style="float:left; margin-right:30px; margin-bottom: 30px;">
		                    <p><%= attachment_image_tag(artwork, :image, :fill, 300, 200, fallback: "no_image.jpg", size:'300x200') %></p>

		                    <div class ="art">
			 				  <h4><%= link_to artwork.title ,artwork_path(artwork) %></h4>
			 					<div class ="comment-like">
			 					 	<p><%=artwork.artist_name %></p>
				 					<p class ="art-comment-count"><i class="fas fa-comment"><%=artwork.post_comments.size %></i></p>
				 					<p class ="art-like-count"><i class="fas fa-heart"><%=artwork.likes.size %></i></p>
				 				</div>
				 				  <h4><% artwork.tag_list.each do |tag| %>
				 					<span class="label label-primary"><%= link_to tag ,tag_path(tag),:style=>"color:white" %></span>
				 					<% end %>
				 				  </h4>
		 				    </div>
	 					</figure>
	                <% end %>
	                <%= paginate @artworks %>
	            </div>
	    </div>
    </div>
</div>

