
<div class="container" style=" margin: 50px auto;">

    <h2 class="fas fa-pen">作品登録</h2><br>

    <%= form_for(@artwork, url:artworks_path) do |f| %>
    <%= render 'layouts/error_messages', resource: @artwork %>

  <!-- 画像選択欄 -->
  <div class="row">
    <div class="col-xs-4">
      <%= attachment_image_tag @artwork, :image, size: "300x300",  fallback: "no_image.jpg" ,class: "image" %><br>
      <label>作品画像</label>
      <%= f.attachment_field :image, id: "artwork-image" %>
    </div>

     <!-- 作品入力欄 -->
     <div class="col-lg-6">
        <table class="table table-bordered">
          <tr>
            <th>作品名</th>
            <td><%= f.text_field :title ,:placeholder => "作品名"  ,class: "form-control offset-6 col-6" %></td>
          </tr>

          <tr>
            <th>アーティスト名</th>
            <td><%= f.text_field :artist_name, :placeholder => "アーティスト名" ,class: "form-control offset-6 col-6" %></td>
          </tr>

          <tr>
            <th>作品説明</th>
            <td><%= f.text_area :Introduction, :placeholder => "作品の説明や魅力など" ,class: "form-control offset-6 col-6" %></td>
          </tr>

          <tr>
            <th>タグ (間にはカンマ , をつけて下さい)</th>
            <td><%= f.text_field :tag_list ,value: @artwork.tag_list.join(',') , :placeholder => "現代アート,抽象画,ポップアート" ,class: "form-control offset-6 col-6" %></td>
          </tr>
        </table>

         <%= f.submit "登録する", class:"btn btn-primary btn-md" %>
       <% end %>
     </div>
  </div>
</div>


