 <h3><i class="fas fa-comment">Comments</i></h3>
	            <table> <!-- コメント一覧表示 -->
	                <% post_comments.each do |post_comment| %>
	                  <tr>
		                <td class="show-comment">
		                <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no_image.jpg", size: "50x50" %><br>
		                <i class="fas fa-user"></i><%= post_comment.user.name %>
		                <i class="fas fa-calendar-alt"></i><%= post_comment.created_at.to_s(:datetime_jp) %>
		                <i class="fas fa-trash-alt"><% if current_user == post_comment.user %>
					        <%= link_to '削除', event_post_comment_path(@event, post_comment),  method: :delete ,remote: true %></i>
					        <% end %>
	                    </td>
	                    <td class="show-comment"><%= post_comment.comment %></td>
			          </tr>
			        <% end %>
				</table> <!-- コメント一覧表示 -->
