<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><i class="fas fa-calendar-alt">イベント一覧</i></h2>
      <br>
	    <!--会員一覧 -->
		  <table class="table table-hover">
		  	<thead>
		  	  <tr class="active">
		        <th>イベント名</th>
		        <th>アーティスト名</th>
		        <th>開催期間</th>
		        <th>開催場所</th>
	          </tr>
	        </thead>
	        <tbody>
              <% @events.each do |event| %>
			    <tr>
					<td><%=event.title %></td>
					<td><%=event.artist %></td>
					<td><%=event.start_date %> 〜 <%=event.end_date %></td>
					<td><%=event.place %>
			        <td><%= link_to "詳細", admins_event_path(event.id) ,class: "btn btn-primary" %></td>
			        <td><%= link_to "編集", edit_admins_event_path(event.id) ,class: "btn btn-success" %></td>
		        </tr>
			  <% end %>
		    </table>
	   </div>
    </div>
</div>